body{
	font-family: 'Raleway', sans-serif;
}
.loading{
	background-image: url(../img/loading.gif);
	background-position:right;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: absolute;
	width: 100vw;
	z-index: 200;
}
.home{
	background-image: url(../img/carretera.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	z-index: 200;
}
.logo{
	width: 25%;
	margin-top: 12%;
}
.btn-a {
	margin: 11rem 34rem 0;
}
.btn-login{
	color: white;
	background: transparent;
	border: 1px solid white;
	font-size: x-large;
}
.btn-signup{
	color: white;
	border: 1px solid white;
	font-size: x-large;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.logo{
		width: 13rem;
	}
	.btn-a {
		margin: 16rem 0.6rem;
	}
}


/*sign-up*/
.bandera-peru{
	width: 20px;
	height: 15px;
}