body{
	font-family: 'Raleway', sans-serif;
}
h5{
	margin-top: 2rem;
}
.subtema{
	margin-bottom: 0;
}
.retroceder{
	color: #5F5F5F;
	margin: 19px 0px;
}
.btn-envio{
	position: absolute;
	bottom: 0px;
}
/*index-html*/
.loading{
	background-image: url(../img/loading.gif);
	background-position:center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	position: absolute;
	width: 100vw;
	z-index: 200;
}
.home{
	background-image: url(../img/carretera.gif);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	z-index: 200;
}
.logo{
	width: 25%;
	margin-top: 12%;
}
.btn-a {
	margin: 7rem 35rem;
}
.btn-login{
	color: white;
	background: transparent;
	border: 1px solid white;
	font-size: x-large;
}
.btn-signup{
	color: white;
	border: 1px solid white;
	font-size: x-large;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	.logo{
		margin: 6rem 4rem 12rem;
		width: 13rem;
	}
	.btn-login{
		margin: 7px;
	}
	.btn-a {
		margin: 0 auto;	}
}


/*sign-up*/
.contener-opciones{
	border: 2px solid #F5F2F0;
	margin: 13px 19px -2px;
	padding: 0;
	border-radius: 10px;
}
#first-number{
	width: 100%;
	margin: 0;
	padding: 0 1rem;
	border: none;
}
.icon-sepadr{
	padding-top: 18px;
	border-right: 2px solid #F5F2F0;
	padding-bottom: 17px;
}

.bandera .bandera-peru {
	padding-top: 15px;
}

/*verify*/
.resend-code{
	background: transparent;
	color: black;
	border: 1px solid #5F5F5F;
}
.codigo{
	margin-left: 2rem;
}
input.col.s1.m2.col.offset-s1.offset-m-1.add-js-inputcode, 
input.col.s1.m2.col.offset-s2.offset-m-1.add-js-inputcode {
	padding: 8px;
}




/*dato-usuario*/
.dato-user{
	padding: 0;
	margin: 0;
	border: 1px solid #C1C1C1;
	border-radius: 5px;
}
.user-icon{
	padding-top: 1rem;
}
.cont-dato{
	margin: 0;
}
.input-field #name, .input-field #last-name, .col #last_name  {
	border: none;
	padding: 0;
	margin: 0;
}
.form-datos{
	margin-bottom: 0px;
}
.check-terms{
	margin: 3rem 0 0 2rem;
}












